<div class="container toppage">
  <h1 class="top">カレンダー</h1>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-4">
    	<h4 class="schedule">今後の予定一覧</h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>

        <tbody>
          <% @plans.each do |plan| %>
            <tr>
            <% if DateTime.now < plan.start_time %>
              <td><%= link_to plan.title , plan %></td>
              <td><%= plan.start_time.strftime("%m-%d %H:%M") %></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'layouts/errors', obj: @plan %>
      <%= form_with(model: @plan, local: true) do |f| %>

        <div class="form-group">
          <%= f.label :タイトル, class: 'mb-2' %>
          <%= f.text_field :title, class: 'form-control mb-3' %>
        </div>


        <div class="form-group">
          <%= f.label :内容, class: 'mb-2' %>
          <%= f.text_field :content, class: 'form-control mb-3', rows: 5 %>
        </div>

          <div class="form-group">
          <%= f.label :時間, class: 'mb-2' %> <br>
          <%= f.datetime_select :start_time, class: 'form-control mb-3' %>
        </div>

       <div class="form-group mt-4">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
      </div>

    <br>
    <br>
    <div class="col-sm-12 col-md-8">
    <%= render 'simple_calendar/calendar_template', plans: @plans %>
    </div>
  </div>
</div>
